@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Fredoka:wght@300;500;600&family=Inter:wght@500&family=Martian+Mono:wght@500&family=Montserrat&family=Onest:wght@700&family=Poiret+One&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300&family=Roboto:wght@300&family=Young+Serif&display=swap');



.kel .boxes .box1 { 
    width: 100px;
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    height: 300px;
  background-color:rgb(3, 137, 167);
display: inline-block;
padding-left: 4rem;
}
.kel h1{
    text-align: center;
    font-weight: 900;
}
.kel .boxes .box2 { 
    width: 100px;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    height: 300px;
  background-color: rgb(15, 144, 144);
display: inline-block;
padding-left: 4rem;
}
.kel .boxes .box3 { 
    width: 100px;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    height: 300px;
  background-color:aquamarine;
display: inline-block;
padding-left: 4rem;
}

.kel .boxes .box4 { 
    width: 100px;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    height: 300px;
  background-color: rgb(255, 247, 232);
display: inline-block;
padding-left: 4rem;
}
.kel .boxes .box5 { 
    width: 100px;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    height: 300px;
  background-color:rgb(231, 15, 87);
display: inline-block;
padding-left: 4rem;
}
.container{
  width: 80%;
  margin: auto;
}
.kel h1{

  font-family: 'Young Serif', serif;
}