@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;600&family=Martian+Mono:wght@500&family=Onest:wght@700&family=Roboto+Serif:opsz,wght@8..144,300&family=Roboto:wght@300&family=Young+Serif&display=swap');

.ourservices h3 {
    color: #56C8FD;
    text-align: left;
    font-size: 1rem;
    padding-top: 3rem;
}

.ourservices h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #2E3E63;
    margin-bottom: 1rem;
    font-family: "Roboto", Arial, sans-serif;
}

.ourservices .box {
    margin-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 1rem ;
    background-color: #ffffff;
    transition: all 1s;
   width: 32%;
}
body {
    background-color: #F9FAFF;
}
.ourservices .left {
    color: hsl(244, 10%, 68%);
    margin-bottom: 2rem;
    font-size: 19.5px;
    font-family: "Roboto", Arial, sans-serif;
}

.ourservices .about {
    padding: 2rem;
    text-align: center;
    color: hsl(244, 10%, 68%);
}
.ourservices button {
    background-color: #BC6FF1;
    color: #fff;
  padding: 1rem;
    border-radius: 1rem;
    margin-right: 30rem;
    width: 33%;
    border: none;
}
.ourservices i {
    background-color: #EFF2FF;
  border-radius: 4rem;
    margin-left: 6rem;
    padding: 1rem;
    color:  #56C8FD;
    font-size: 3rem;
}

    

.ourservices h2 {
    color: #2E3E63;
    text-align: center;
    font-size: 1.5rem;
}
.ourservices .about:hover{
    color: white;
}

.ourservices .box:hover {
    background-color: #1FB6FC;
   color: white;
    transition: all 1s;
}
.customers .brand {
    color:#3a4660;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
}
.customers h4 {
    color: #56C8FD;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.customers .container h1 {
    text-align: center;
    color: #28375B;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: "Roboto", Arial, sans-serif;
    
}

.customers .text {
    color: grey;
    margin-bottom: 2rem;
    width: 70%;
    padding-top: 1rem;
    margin-left: 1rem;
}

.customers img {
    width: 20%;
    border-radius: 4rem;
    margin-left: 1rem;
}

.customers i {
    font-size: 1rem;
    color: white;
    margin-left: 8rem;
    border: 1px solid white;
    border-radius: 3rem;
    background-color: #1FB6FC;
    padding: 0.8rem;
    margin-top: -1rem;

}

.customers h2 {
    color: #88879E;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.customers .box {
    width: 32%;
    background-color: white;
    height: 245px;

}

.customers .name {
    color: #28375B;
    margin-left: 8rem;
    margin-top: -4rem;
    margin-bottom: 0.6rem;
}

.customers span {
    color: #1FB6FC;
    margin-left: 8rem;
    font-size: 1rem;
}