.metrics .box {
    background-color: navy;
    border: 1px solid black;
    height: 250px;
    padding-top: 1rem;
    width: 24%;

}

.metrics .container h1 {
    color: rgb(23, 23, 140);
}

.metrics .box h3 {
    color: white;
    margin-left: 1rem;
    margin-top: 6rem;
}

.container h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.metrics .box p {
    color: white;
    margin-left: 1rem;
    margin-top: 1rem;
}

.metrics .box b {
    font-size: 25px;
    color: white;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.container p {
    color: rgb(2, 2, 56);
    margin-bottom: 1rem;
}

.features .container h1 {
    color: navy;
}

.features .container i {
    font-size: 30px;
    color: navy;
}

.features {
    margin-top: 6rem;
}





.project .container .row h1 {
    color: navy;
    font-size: 2rem;
    margin-top: 3rem;
}

.project .container .row p {
    color: navy;
    width: 80%;
    margin-top: 2rem;

}

.project {
    margin-top: 10rem;
}



.work .container h1 {
    color: navy;
    font-size: 3rem;
    margin-top: 1rem;
}

.work .container p {
    color: navy;
}

.work .container h3 {
    color: navy;
}

.work .container b {
    font-size: 30px;
    color: navy;
    margin-top: 3rem;
}

.work {
    margin-top: 6rem;
}

.work .container button {
    background-color: navy;
    border: 1px solid black;
    color: white;
    padding: 0.5rem;
    width: 17%;
}


.happen .container h1 {
    color: navy;
    font-size: 3rem;
}

.happen .container button {
    background-color: navy;
    border: 1px solid black;
    color: white;
    width: 17%;
    padding: 0.5rem;
}

.happen .container h3 {
    color: navy;
}

.happen {
    margin-top: 8rem;
}

.happen .container p {
    color: navy;

}

.happen .container b {
    font-size: 30px;
    color: navy;
    margin-top: 3rem;

}